<style>
    md-input-container {
        width: 100%;
    }



    .input-group {
        display: flex;
        flex-direction: row;
    }



    .input-group md-input-container {
        width: calc(100% / 3);
    }



    button {
        background: green;
        color: white;
    }
</style>

<md-card class="body-card">
    <h1>Donate to FCC</h1>
    <p>By donating to the Foundation for Connecting Communities you will help those in need within your community.</p>
    <md-card>
        <md-card-title>
            Donate
        </md-card-title>
        <form #form class="form-inline" name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <!--<label class="label label-primary form-control">Enter the charge value in USD</label>-->
            <input type="hidden" name="cmd" value="_xclick">
            <input type="hidden" name="business" value="nathan.guenther.web@gmail.com">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="item_name" value="Paypal demo charge">
            <input name="item_number" type="hidden" value="0001" />
            <input type="hidden" name="return" value="https://localhost:4200/donate-success" />
            <input type="hidden" name="cancel_return" value="https://localhost:4200/donate-cancel" />
            <!--pass your notification URL-->
            <!--<input name="notify_url" value="YOUR NOTIFICATION URL" type="hidden">-->

            <md-input-container>
                <input  mdInput 
                        type="number" 
                        step="0.01" 
                        placeholder="Donation Amount" 
                        id="paypalAmount" 
                        name="amount" 
                        #donateAmount
                        required/>
            </md-input-container>

            <button md-raised-button (click)="form.submit()" [disabled]="donateAmount.value < .01">Submit Donation</button>
        </form>
        <!--<form #donorForm (ngSubmit)="submitDonation()">
        <md-card-title>
            Donate
        </md-card-title>
        <md-card-content>
            <md-input-container>
                <input  mdInput 
                        placeholder="Donor Name" 
                        name="fullname" 
                        [(ngModel)]="model.donorName"
                        required>
            </md-input-container>
            <md-input-container>
                <input  mdInput 
                        placeholder="Donor Phone Number" 
                        [(ngModel)]="model.phone" 
                        name="donor-phone"
                        (focus)="phoneInputFocused()"
                        (blur)="phoneInputBlurred()"
                        (ngModelChange)="phoneInputChange(phoneInput)"
                        pattern="[\(\)\-0-9]{14}"
                        minlength="14"
                        maxlength="14"
                        required
                        #phoneInput="ngModel">
            </md-input-container>
            <div class="input-message" [hidden]="phoneInput.valid || phoneInput.pristine">
                Must be in the format: (555)-555-5555
            </div>
            <md-input-container>
                <input  type="email"
                        mdInput
                        placeholder="Donor Email"
                        name="donor-email"
                        [(ngModel)]="model.email"
                        required>
            </md-input-container>
            <md-input-container>
                <textarea   mdInput
                            placeholder="Address"
                            name="address"
                            [(ngModel)]="model.address"
                            required>
                </textarea>
            </md-input-container>
            <div class="input-group">
                <md-input-container>
                    <input  mdInput
                            placeholder="City"
                            name="city"
                            [(ngModel)]="model.city"
                            required>
                </md-input-container>
                <md-input-container>
                    <input  mdInput
                            placeholder="State"
                            name="state"
                            [(ngModel)]="model.state"
                            required>
                </md-input-container>
                <md-input-container>
                    <input  mdInput
                            placeholder="Zip"
                            name="zip"
                            [(ngModel)]="model.zip"
                            required>
                </md-input-container>
            </div>
            <md-input-container>
                <input  mdInput
                        type="number"
                        placeholder="Donation Amount"
                        name="amount"
                        [(ngModel)]="model.amount"
                        step="any"
                        required>
            </md-input-container>
            <button md-raised-button type="submit">Submit Donation</button>
        </md-card-content>
    </form>-->

    </md-card>
</md-card>