<md-card class="body-card">
    <h1>Social Connections</h1>
    <md-card-content>
        <h2>Building Social Connections</h2>
        <p>We at, the Foundation for Connecting Communities, seek to build social connections with the community through:</p>
        <ol>
            <li>Family-to-Family (F2F) Mentorship</li>
            <li>School-Age Kids Connections</li>
            <li>Civic & Citizenship Education</li>
            <li>Social Events, Recreation, and Entertainment</li>
        </ol>
        <h3>Our Mentors</h3>
        <ol>
            <li>Provide assistance to their mentee families as time and resources allow</li>
            <li>Get satisfaction from serving others and seeing families being successful</li>
            <li>Conduct needs assessment and connect the mentee to community re-sources to meet the identified needs</li>
            <li>Make a positive difference in the lives of connecting families</li>
            <li>Assist family in learning English and prepare them for citizenship test</li>
            <li>Facilitate new families in coping with laws and US societal norms</li>
            <li>FCC encourages mentors to teach the connecting families to become self-reliant. Hence, mentors makes an effort to help mentees gain ability & confidence to serve themselves</li>
            <li>FCC developed tools such as FCC App to facilitate your involvement</li>
        </ol>
        <h3>Become a Mentor</h3>
        <p>To become a Mentor, please contact:</p>
        <person-contact name="Amy Miller"
                        phone="3196708026"
                        email="jamp.mill@gmail.com">
        </person-contact>
        <person-contact name="Shannon Kanan"
                        phone="2707799992"
                        email="kykanans@twc.com">
        </person-contact>
        <h3>Assist Immigrant Families With</h3>
        <ol>
            <li>Using cooking appliances and other household appliances</li>
            <li>Properly using cleaning formulas and supplies</li>
            <li>Reading and interpreting incoming mail</li>
            <li>Learning English and citizenship (from mentors)</li>
            <li>Job search and applications</li>
            <li>Apartment/house hunting</li>
            <li>Participation in community events</li>
            <li>Medical appointments</li>
            <li>Grocery shopping</li>
            <li>Connecting with local government institutions (such as police, city government, etc..)</li>
            <li>Actively involved and connected member of the community</li>
        </ol>
        <h3>Receive Assistance</h3>
        <p>To receive assistance, please contact:</p>
        <person-contact name="Speciose Nyiramana"
                        phone="4355125355"
                        email="spnyiramana@gmail.com">
        </person-contact>
    </md-card-content>
    <md-card-actions>
        <donate-button></donate-button>
    </md-card-actions>
</md-card>