<md-card class="body-card">
    <h1>Economic Connections</h1>
    <md-card-content>
        <h2>Building Economic Connections</h2>
        <p>We at, the Foundation for Connecting Communities, seek to build economic connections with the community through:</p>
        <ol>
            <li>Employment</li>
            <li>Education Opportunities</li>
            <li>Financial Literacy</li>
            <li>Home Ownership</li>
        </ol>
        <h3>Employment Assistance</h3>
        <p>We assist businesses in hiring individuals with specific skills among connecting communities.</p>
        <p>We partner with businesses and/or government institutions to facilitate employment accessibility and improve work standards and safety in the workplace.</p>
        <p>We assist connecting individuals with filling out job applications and professional advising.</p>
        <h3>Education Opportunities</h3>
        <p>We provide career/academic plan coaching (especially for the out-of-school-system individuals), connect them to educational institutions such as job corps, colleges, and universities. FCC also incentivizes excellent performance in both academic and extra-curriculum activities.</p>
        <h3>Financial Literacy</h3>
        <p>We provide educational workshop on financial literacy, banking system, credit worthiness tips, and saving habits aiming at economic self-sufficiency. We also provide individual-based technical assistance, and assistance with family-based economic planning.</p>
        <h3>Home Ownership</h3>
        <p>We connect our clients to real estate management businesses and facilitate rental and/or purchase contract processes.</p>
        <h3>Economic Programs Contact</h3>
        <p>For any of the above economic connection programs, please contact:</p>
        <person-contact name="Glen Hudson"
                        phone="2707996814"
                        email="Glennhudson22@gmail.com">
        </person-contact>
    </md-card-content>
    <md-card-actions>
        <donate-button></donate-button>
    </md-card-actions>
</md-card>