<md-card class="body-card">
    <h1>Our Mission</h1>
    <md-card-subtitle>
        FCC strengthens disconnected community members through social and economic connections.
    </md-card-subtitle>
    <md-card-content>
        <h2>Our Vision</h2>
        <p>Envisioning stronger socioeconomically connected communities.</p>
        <p>We aim at economic self-sufficiency and social interactions among community members.</p>
        <p>We serve three categories of community members:</p>
        <ol>
            <li>Immigrants</li>
            <li>Economically disconnected</li>
            <li>Socially disconnected</li>
        </ol>
        <md-card>
            <md-card-title>
                Our Location
            </md-card-title>
            <md-card-content>
                <!-- this creates a google map on the page with the given lat/lng from -->
                <!-- the component as the initial center of the map: -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3188.8491440059197!2d-86.43720968470613!3d36.94177197991962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8865e861977b4ed5%3A0xb60d1e91d06485ac!2s2501+Crossings+Blvd+%23229%2C+Bowling+Green%2C+KY+42104!5e0!3m2!1sen!2sus!4v1488431811399" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </md-card-content>
        </md-card>
    </md-card-content>
    <md-card-actions>
        <donate-button></donate-button>
    </md-card-actions>
</md-card>